*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navBar{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    padding-left :5px;
}
.body{
    /* background-color: white; */
    /* background-color:#AAD9E7; */
    padding-bottom: 100px; 
    margin-left: 200px; 
    width : 1440px;
    height: 1150px; 
    /* justify-items: center; */
    /* margin-left: 200px;   */


}

.navLinks {
    text-decoration : none;
    color: black;
}

.signin{
    height: 20px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    border: none;

    border-color: #42AA7B;
}
#loginButton{
    background-color: #42AA7B;
    color : #ffffff;
    border-radius: 8px;
    height : 22px;
    width : 70px;
    border:none ;

}
#registrationButton{
    background-color: rgb(10, 10, 10);
    color : #ffffff;
    border-radius: 8px;
    height : 22px;
    width : 70px;
    border:none ;


}

.Register{
    height: 20px;
    background-color: black;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    width: 100px;
    padding-left: 10px;

}
.imageonediv{
    display: inline-block;
    width: 300px;
    display: flex;
    margin-top: 50px ;

}
.imageone{
    /* width: 600px; */
    display: inline-block;
    height:420px ;

}
.text{
    background-color: rgb(248, 248, 255);
    /*  padding-left: 20px; */
    padding-right: 500px; 
    height:420px ;
}
.test h1 {
    padding-right : 200px;
}

.reviews{
    margin-top: 30px;
    margin-left: 20px;
}
.review-card{
    display: inline-block;
    display: flex;
}
.Register-div{
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 500px 400px;

}
.image-div{
    background-color: lightblue;
    width: 550px;   
    padding-right: 500px; 
}
.canvas{
    width: 300px;
}
.xlogo{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 1fr 1fr;
}
.register-div{
    background-color: rgb(247, 242, 242);
}
.appointment-div{
    display: grid;
    grid-template-columns: 1fr 1fr;

    
}
.appointment-button{
    margin-left: 30px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 30px;
}
